@import 'partials/variables';
@import 'partials/mixins';

section.ms_main-sect {
    background-color: $bgColor;

    div.ms_main-contents {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0;
        
    }

}

section.ms_bottom-main{
    background-color: $brandColor;
    
    
    div.container{
        display: flex;


       div.ms_bottom-main-bar {
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 5);
            
            

            div{
                color: white;
                text-align: center;
                margin: 0 15px;

                img{
                    height: 45px;
                    margin-right: 10px;
                }
            }

            h3{
                color: white;
                font-size: 14px;
                text-transform: uppercase;
            }
            
        } 
    }
        
}

section.ms_jumpo-img{
    height: 450px;
    background-image: url('../assets/img/jumbotron.jpg');
    background-size: cover;
}

div.ms_card-img{
   
    img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: top;
        padding: 12px;
    }
}

div.ms_dc-card {
    width: calc(100% / 6);
    

    h5{
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 0.9rem;
        width: 80%;

    }
}