section.ms_main-sect {
  background-color: black;
}
section.ms_main-sect div.ms_main-contents {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

section.ms_bottom-main {
  background-color: #0A7CEC;
}
section.ms_bottom-main div.container {
  display: flex;
}
section.ms_bottom-main div.container div.ms_bottom-main-bar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
section.ms_bottom-main div.container div.ms_bottom-main-bar div {
  color: white;
  text-align: center;
  margin: 0 15px;
}
section.ms_bottom-main div.container div.ms_bottom-main-bar div img {
  height: 45px;
  margin-right: 10px;
}
section.ms_bottom-main div.container div.ms_bottom-main-bar h3 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

section.ms_jumpo-img {
  height: 450px;
  background-image: url("../assets/img/jumbotron.jpg");
  background-size: cover;
}

div.ms_card-img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  padding: 12px;
}

div.ms_dc-card {
  width: 16.6666666667%;
}
div.ms_dc-card h5 {
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 0.9rem;
  width: 80%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div.img-cont {
  height: 90px;
  padding: 14px;
}

div.nav-bar ul {
  list-style: none;
  margin: 0;
}
div.nav-bar ul li {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 14px;
}
div.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

section.ms_top-footer {
  background-image: url(../assets/img/footer-bg.jpg);
  background-size: cover;
}
section.ms_top-footer div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.ms_footer-list-menu {
  display: flex;
  width: 40%;
}
div.ms_footer-list-menu div {
  width: 33.3333333333%;
}

h4 {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  color: rgb(114, 111, 111);
  margin: 15px 0;
  padding: 0;
}
ul li {
  margin-top: 4px;
}

section.ms_bottom-footer {
  height: 100px;
  background-color: #232323;
  display: flex;
  align-items: center;
}

div.ms_bottom-footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.ms_footer-button button {
  padding: 10px 12px;
  text-transform: uppercase;
  border: 2px solid #0A7CEC;
  background-color: #232323;
  color: white;
}

div.ms_social-icons span {
  color: #0A7CEC;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 12px;
}
div.ms_social-icons img {
  margin: 0 8px;
  height: 30px;
}